# ========================
# Discord
# ========================
DISCORD_TOKEN=
TEST_DISCORD_TOKEN=

# ========================
# Encryption
# ========================
ENCRYPTION_KEY=

# ========================
# Web Server
# ========================
VERIFY_PORT=3838
VERIFY_HUB_URL=http://localhost:3000/endfield
EDITOR_PUBLIC_URL=http://localhost:3838

# ========================
# Webhooks (optional)
# ========================
ERRWEBHOOK=
CMDWEBHOOK=
JLWEBHOOK=